<div class="row">
  <div class="col text-center">
      <div class="col text-center">
        <img *ngIf="searchCom.settin.artist.img" [src]="searchCom.settin.artist.img" class="border-img anim">
        <img *ngIf="!searchCom.settin.artist.img" src="assets/img.jpg"  class="border-img anim">
      </div>
      Artist: 
      <span *ngFor="let artist0 of searchCom.settin.artist.artists">
          <h1>{{artist0.name}} </h1>
      </span>
      Album:
        <h1>{{searchCom.settin.artist.name}}</h1>
        <div id="accordion" role="tablist" aria-multiselectable="true" style="width:80%; margin: auto;">
        <div class="card" style="background-color:black;">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Published for markets:
              </a>
            </h5>
          </div>
          <div *ngIf="searchCom.settin.artist.name" id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block" style="background-color:black;">
              <span *ngFor="let markets2 of searchCom.settin.receivedData[0].available_markets">{{markets2}}; </span>
            </div>
          </div>
        </div>
        </div>
  </div>
  <div class="col text-center" style="width:70%; margin: auto;">
    <span *ngFor="let items of searchCom.settin.receivedData; let i = index">
      <div class="anim" style="text-align:left; margin-bottom:2%; padding: 2%;">
              <p><span>Track {{items.track_number}}</span>: <strong>{{items.name}}</strong></p>
              <p><span>Disc number: {{items.disc_number}}</span></p>

<!--
              <p>Published for markets: <span *ngFor="let markets of items.available_markets">{{markets}}; </span></p>
    -->          
              <audio controls style="width:100%;">
                <source src="{{items.preview_url}}">
                Your browser does not support the audio element.
              </audio>
      </div>
    </span>
  </div>
</div>