<div class="container spaceUp">
    <p><strong>Login with e-mail and password</strong></p>
    <p *ngIf="searchCom.errorMessage" class="errorAlert"><strong>Houston, we have a problem! </strong>{{searchCom.errorMessage}}</p>
    <form (ngSubmit)="onSubmit(loginForm)" novalidate="true" #loginForm="ngForm">
        <div class="form-group row">
            <label class="col-sm-12 col-md-6 col-form-label">Your Email address
                <input type="email" #emailRef="ngModel" pattern="^[a-z0-9.!#$%&'*+-/=?^_`{|}~]+@[a-z0-9.-]+\.[a-z]{2,}$" [(ngModel)]="searchCom.user.email" name="email" class="form-control" placeholder="Email"  required>
                <span *ngIf="!emailRef.valid">
                    <p *ngIf="emailRef.touched&&emailRef.errors?.required" class="bgAlert">This field is required</p>
                    <p *ngIf="emailRef.touched&&emailRef.errors?.pattern" class="bgAlert">E-mail address is wrong</p>
                </span>
            </label>
            <label class="col-sm-12 col-md-6 col-form-label">New password
                <input type="password" #passRef="ngModel" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" [(ngModel)]="searchCom.user.password" name="password" class="form-control" placeholder="Password">
                <p *ngIf="passRef.touched&&passRef.errors?.required" class="bgAlert">This field is required</p>
                <p *ngIf="passRef.touched&&passRef.errors?.pattern" class="bgAlert">Password required at least 6 characters with: digit, capital letter, lower case letter</p>
            </label>
        </div>
        <div class="form-group row">
            <label class="col col-form-label margin2">Accept form
                <button type="submit" class="btn btn-info cursorPnt width100">Login</button>
            </label>
        </div>
    </form>
    <p class="text-right">Don't have an account? <a routerLink="/new-account">Register now</a></p>
</div>

