<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand">Spotify App: </span>
  
  <div id="header">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <input type="text" [(ngModel)]="searchCom.settin.inputData" (keypress)="keyId($event)" (keyup)="checkIt()" class="spaceRight">
      <select (change)="searchCom.settin.type = (searchCom.settin.type == 'artist') ? 'album' : 'artist';  checkIt()">
        <option [ngValue]="artist">artist</option>
        <option [ngValue]="album">album</option>
      </select>
      <span *ngIf="searchCom.settin.inputData!=''" >
        <div class="btn-group spaceBottom" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Searched enquiry: {{searchCom.settin.inputData}}</button>
            <button type="button" class="btn btn-secondary spaceRight">Total: {{searchCom.settin.total}}</button>
        </div>
        <div class="btn-group spaceBottom" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" [ngClass]="{'cursorPnt':searchCom.settin.previous}"  [disabled]="!searchCom.settin.previous" (click)="nextPrev('prev')"><span>Previous Page</span></button>
            <button type="button" class="btn btn-secondary"><span>{{searchCom.settin.position}}-{{ searchCom.settin.position + searchCom.settin.limit -1 }}</span></button>
            <button type="button" class="btn btn-secondary" [ngClass]="{'cursorPnt':searchCom.settin.next}" [disabled]="!searchCom.settin.next" (click)="nextPrev('next')"><span>Next Page</span></button>
        </div>
      </span>
    </div>
  </div>
</nav>




<div class="container-fluid up-space bg-color">
    <app-comp-artist *ngIf="searchCom.settin.type=='artist'"></app-comp-artist>
    <app-comp-album *ngIf="searchCom.settin.type=='album'"></app-comp-album>
</div>


