<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand">Spotify App: </span>
  
  <div id="header">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <input type="text" [(ngModel)]="searchCom.settin.inputData" (keypress)="keyId($event)" (keyup)="searchCom.checkIt()" routerLink="{{searchCom.settin.type}}" class="spaceRight">
      <!--
      <select (change)="searchCom.settin.type = (searchCom.settin.type == 'artist') ? 'album' : 'artist';  checkIt(); routerLink='album'">
        <option [ngValue]="artist"><a routerLink="artist">artist</a></option>
        <option [ngValue]="album"><a routerLink="album">album</a></option>
      </select>
      -->
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <strong>{{ searchCom.settin.type }}
      </strong>
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" routerLink="artist">Artist</a>
      <a class="dropdown-item" routerLink="album">Album</a>
    </div>
  </div>

      <span *ngIf="searchCom.settin.inputData!=''" >
        <div class="btn-group spaceBottom" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Searched enquiry: {{searchCom.settin.inputData}}</button>
            <button type="button" class="btn btn-secondary spaceRight">Total: {{searchCom.settin.total}}</button>
        </div>
        <div class="btn-group spaceBottom" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" [ngClass]="{'cursorPnt':searchCom.settin.previous}"  [disabled]="!searchCom.settin.previous" (click)="nextPrev('prev')"><span>Previous Page</span></button>
            <button type="button" class="btn btn-secondary"><span>{{searchCom.settin.position}}-{{ searchCom.settin.position + searchCom.settin.limit -1 }}</span></button>
            <button type="button" class="btn btn-secondary" [ngClass]="{'cursorPnt':searchCom.settin.next}" [disabled]="!searchCom.settin.next" (click)="nextPrev('next')"><span>Next Page</span></button>
        </div>
      </span>
    </div>
  </div>
</nav>






